:root {
	--white-color: #ffffff;
	--title-color: #323232;
	--subtitle-color: #000;
	--descr-color: #999999;
	--accent-color: #4985ff;
	--border-color: #e0e0e0;
	--bg-color: #f6f6f8;
	--letter-color: #132635;
}

*,
::before,
::after {
	box-sizing: border-box;
}

body {
	font-family: "Montserrat", sans-serif;
	position: relative;
}

/* Optimization */
a {
	text-decoration: none;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
p {
	margin: 0;
	padding: 0;
}

/* * General styles */

.container {
	margin: 0 auto;
	max-width: 1110px;
}

.link {
	font-weight: 500;
	font-size: 16px;
	line-height: calc(20 / 16);
	color: var(--white-color);
}

.title {
	font-weight: 700;
	font-size: 36px;
	line-height: calc(53 / 36);
	color: var(--title-color);
}

.subtitle {
	font-weight: 600;
	font-size: 18px;
	line-height: calc(22 / 18);
	color: var(--subtitle-color);
}

.descr {
	font-weight: 400;
	font-size: 16px;
	line-height: calc(25 / 16);
	color: var(--descr-color);
}

/* *
  |============================
  | Header
  |============================
*/

.header {
	padding: 10px 0;
	position: fixed;
	width: 100%;
	border-bottom: 1px solid #a1a1a180;
	top: 0;
	backdrop-filter: blur(6px);
	background-color: rgba(130, 128, 128, 0.55);
	z-index: 4;
}

.header-list {
	display: flex;
	gap: 80px;
}

.nav-container {
	display: flex;
	justify-content: center;
}

.navigation-link {
	display: block;
	position: relative;
	overflow-y: hidden;
	text-transform: uppercase;
	font-family: "Kanit", sans-serif;
	font-size: 18px;
	font-weight: 600;
}

.navigation-link span {
	position: relative;
	transition: 0.3s;
}

.navigation-link span .out {
	display: inline-flex;
}

.navigation-link::after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	/* transform: translateX(-50%); */
	width: 0;
	height: 2px;
	background-color: var(--letter-color);
	transition: width 1s, left 1s;
}

.navigation-link:hover::after {
	left: 0;
	width: 100%;
}

.navigation-link:hover span .out {
	transform: translateY(-100%);
}

.navigation-link span .in {
	position: absolute;
	left: 0;
	color: var(--letter-color);
	transform: translateY(100%);
}

.navigation-link:hover span .in {
	transform: translateY(0);
}

.is-active {
	position: relative;
}

.is-active::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	height: 2px;
	transition: 0.5s;
	background-color: var(--white-color);
}

/* * Hero */

.hero {
	/* padding: 320px 0 335px; */
	height: 100vh;
	background: rgba(0, 0, 0, 0.2) url(/images/hero_bg.jpg) no-repeat center
		center;
	background-size: cover;
	display: flex;
	align-items: center;
}
.main-title {
	font-weight: 500;
	font-size: 16px;
	line-height: calc(20 / 16);
	text-align: center;
	color: var(--white-color);
	margin-bottom: 20px;
}
.hero-descr {
	font-weight: 800;
	font-size: 48px;
	line-height: 64px;
	text-align: center;
	color: var(--white-color);
	margin-bottom: 50px;
}
.main-link {
	width: 200px;
	height: 45px;
	padding: 14px 36px;
	background: var(--accent-color);
	box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
	border-radius: 30px;
	display: block;
	margin: 0 auto;
	box-sizing: border-box;
	text-align: center;
}

/* * Services */
.services {
	padding: 110px 0 105px;
}
.services-title {
	text-align: center;
	margin-bottom: 32px;
}

.services-descr {
	text-align: center;
	max-width: 730px;
	margin: 0 auto 70px;
}
.services-list {
	display: flex;
	justify-content: center;
	gap: 25px;
	margin-bottom: 55px;
}
.services-list-item {
	display: flex;
	gap: 17px;
}

.services-icon {
	padding: 10px;
	border: 1px solid var(--border-color);
	border-radius: 50%;
}

.services-wrapper {
	padding-top: 35px;
}
.services-subtitle {
	color: var(--subtitle-color) 000;
}

.services-text {
	font-size: 14px;
	line-height: calc(22 / 14);
}

/* * Standarts */
.standarts {
	background-color: var(--bg-color);
	padding: 100px 0 70px;
}
.standarts-wrapper {
	display: flex;
	gap: 121px;
	padding-bottom: 90px;
	margin-bottom: 70px;
	border-bottom: 1px solid var(--border-color);
}
.standarts-subwrapper {
	padding-top: 50px;
}
.standarts-title {
	margin-bottom: 60px;
}
.standarts-descr {
	margin-bottom: 42px;
}
.standarts-link {
	text-decoration: underline;
	color: var(--accent-color);
}

.standarts-list {
	display: flex;
	justify-content: space-between;
	padding: 0 95px;
}

.standarts-span {
	display: inline-block;
	margin-left: 15px;
	font-size: 36px;
	line-height: calc(53 / 36);
	color: var(--subtitle-color) 000;
}

/* * OUR WORKS */

.our-works {
	padding: 100px 0 85px;
	background: linear-gradient(90deg, #504dc2 20.44%, #5f12d0 80.91%),
		var(--white-color);
	background-repeat: no-repeat;
	background-position: top;
	background-size: 100% 50%;
}

.our-works_wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 90px;
}

.our-works_main-link {
	margin: 0;
}

.our-works-title {
	color: var(--white-color);
	max-width: 540px;
}

.our-works-list {
	padding-bottom: 85px;
	border-bottom: 1px solid var(--border-color);
	display: flex;
	justify-content: space-between;
}

.our-works-images {
	border-radius: 10px;
}

.our-works-subtitle {
	margin: 30px 0;
}

.our-works-span {
	color: var(--accent-color);
}

.our-works_descr {
	text-align: left;
	margin-bottom: 45px;
}

.our-works-link {
	font-weight: 500;
	font-size: 16px;
	line-height: calc(20 / 16);
	color: var(--accent-color);
	text-decoration: underline;
}
/* projects */

.projects {
	background-color: var(--bg-color);
	padding-top: 100px;
	padding-bottom: 130px;
}

.projects-title {
	margin-bottom: 50px;
	color: var(--subtitle-color) 000;
	text-align: center;
}

.projects-list {
	margin-top: 60px;
	margin-bottom: 50px;
	display: flex;
	justify-content: space-between;
}

/* --------------video section ----------- */

.video-section {
	padding-top: 70px;
	padding-bottom: 85px;
	background-image: url(../images/video-example.jpg);
	background-repeat: no-repeat;
}

.video-header {
	margin-bottom: 30px;
	color: var(--white-color);
	text-align: center;
}

.video-descr {
	margin-bottom: 70px;
	color: var(--white-color);
	text-align: center;
}

.video-thumb {
	padding-bottom: 85px;
	margin-bottom: 85px;
	display: flex;
	justify-content: center;
	position: relative;
	border-bottom: 1px solid var(--border-color);
}

.video-button {
	position: absolute;
	top: calc(50% - 42.5px);
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 300px;
	height: 100px;
	box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
	border: 1px solid var(--white-color);
	border-radius: 200px;
	background-color: transparent;

	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;

	color: var(--white-color);
}

.video-icon {
	margin-right: 21px;
}

.video-subtitle {
	margin-bottom: 20px;
	text-align: center;
}

.form-descr {
	margin-bottom: 30px;
	text-align: center;
}

.form {
	display: flex;
	justify-content: center;
	margin-bottom: 35px;
}

.text-warning {
	font-size: 13px;
	line-height: 1.6;
	text-align: center;
}

/* * ------- Footer --------- */

.footer {
	background-color: var(--bg-color);
}

.footer-list {
	padding: 70px 0;
	display: flex;
	justify-content: space-between;

	border-bottom: 1px solid var(--border-color);
}
.footer-subtitle {
	margin-bottom: 35px;
}

.footer-item {
	margin-bottom: 30px;
}

.footer-item:last-child {
	margin-bottom: 0;
}

.footer-link {
	font-size: 14px;
	line-height: calc(22 / 14);
	color: var(--descr-color);
	font-style: normal;
	display: inline-flex;
	align-items: center;
	gap: 15px;
	transition: color 0.3s;
	position: relative;
}

.footer-link::after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	width: 0;
	height: 1px;
	background-color: var(--accent-color);
	transition: width 0.5s, left 0.5s;
}

.footer-link:hover::after {
	left: 25px;
	width: calc(100% - 25px);
}

.footer-link:hover,
.footer-link:focus {
	color: var(--accent-color);
}

.footer-icon {
	fill: currentColor;
}

.footer-copyright {
	padding: 30px 0;
	color: var(--descr-color);
}
